<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!--控制台输出-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>


    <springProfile name="prod">
        <property name="path" value="/src"/>  <!--容器位置-->
        <!--错误日志的appender-->
        <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!--日志文件输出的文件名,每天一个文件-->
                <FileNamePattern>${path}/error.%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
                <!--当天一个日志最大的size,超过将新建日志文件-->
                <maxFileSize>100MB</maxFileSize>
                <!--日志文件保留天数-->
                <maxHistory>30</maxHistory>
                <!--总共最大为10GB-->
                <totalSizeCap>10GB</totalSizeCap>
            </rollingPolicy>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%d{yyyy-MM-dd HH:mm} [%thread] %-5level %logger{50} - %msg%n</pattern>
            </encoder>
        </appender>
        <!--普通信息的appender-->
        <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>DENY</onMatch>
                <onMismatch>ACCEPT</onMismatch>
            </filter>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!--日志文件输出的文件名-->
                <FileNamePattern>${path}/info.%d{yyyy-MM-dd}.%i.log.gz</FileNamePattern>
                <!--当天一个日志最大的size,超过将新建日志文件-->
                <maxFileSize>100MB</maxFileSize>
                <!--日志文件保留天数-->
                <maxHistory>7</maxHistory>
                <!--总共最大为10GB-->
                <totalSizeCap>10GB</totalSizeCap>
            </rollingPolicy>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%d{yyyy-MM-dd HH:mm} [%thread] %-5level %logger{50} - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="INFO_FILE" />
            <appender-ref ref="ERROR_FILE" />
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>


    <springProfile name="dev">
        <!--只对自己类日志记录类开启debug等级-->
        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>