body{overflow:hidden;}

.video_mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f1f1f1;
    z-index: 90;
}

.login {
    height: 300px;
    width: 260px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -150px;
    z-index: 99;
}

.register {
    height: 400px;
    width: 260px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -150px;
    z-index: 99;
}
.login h1 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.form_code {
    position: relative;
}

.form_code .code {
    position: absolute;
    right: 0;
    top: 1px;
    cursor: pointer;
}
.box-top{
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
    padding: 10px;
}
.box-top a{
    margin: 0px 14px;
    border-style:solid;

    border-color:#fff #fff;

}
.layui-btn {
    width: 100%;
}
/*body{*/
    /*background: url("https://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D600%2C800/sign=ebb8939e1adfa9ecfd7b5e1152e0db3b/9f510fb30f2442a7c0580c27da43ad4bd01302d9.jpg") ;*/
/*}*/
/*@media (min-width: 992px) {*/
    /*body{*/
        /*background-size: 100%;*/
        /*background: url("http://d.5857.com/dts_170425/001.jpg") ;*/
    /*}*/
/*}*/
.reg a{
    font-weight: bold;

}
.shadow {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
    border-radius: 10px;
}

